.container-about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-about {
    color: #000;
}
.container-icon {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-about {
    height: 200%;
    width: 200%;
    color: #000;
}
.route-about {
    text-decoration: none;
}
.bg {
    animation:slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #88a6d3 50%, #011a3d 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:7s;
}

.bg3 {
    animation-duration:9s;
}
.content-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:rgba(255, 255, 255, 0.604);
    border-radius:.50em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    margin-top: 10%;
    height: 85%;
    width: 90%;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .icon-about {
        height: 400%;
        width: 400%;
        color: #000;
    }
    .text-about{
        font-size: 27px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .icon-about {
        height: 400%;
        width: 400%;
        color: #000;
    }
    .text-about{
        font-size: 27px;
    }
    .content-about{
        margin-top: 3%;
    }
}